.add-photo-button {
  padding: 0;
  width: 148px;
  height: 48px;
  background-image: url(../../images/close-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #FFFFFF;
  background-color: transparent;
}
.add-photo-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .add-photo-button {
    width: 280px;
  }
}
