.popup__close-button {
  padding: 0;
  display: block;
  position: absolute;
  top: -32px;
  right: -32px;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(45deg);
  border: none;
  background-color: transparent;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
