.photo-grid__card-content {
  padding-top: 25px;
  padding-bottom: 26px;
  padding-left: 21px;
  padding-right: 19px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
